html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}

h1 {
  font-size: 1.4em
}

main {
  inset: 0;
  margin: auto;
  display: grid;
  place-items: center;
}

.container {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#textbox {
  /* display: grid; */
  /* grid-template-columns: repeat(20, 1fr); */
  /* row-gap: 8px; */
  /* width: fit-content; */
  width: 900px;
  border: 2px solid red;
  padding-block: 8px;
  background: white;
}

.char {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  font-size: 2rem;
  vertical-align: top; 
  line-height: 1;

  box-sizing: border-box;
  margin-bottom: 8px;

  border-block: 2px solid red;
  border-right: 2px solid red;

  &:nth-child(20n) {
    border-right: 0;
  }
}

#pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1em;
}

#page-input {
  width: 4em;
  font-size: 1em;
}

#coordinate-wrap {
  display: flex;
  gap: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
